body {
  padding-top: 10px;
  text-align: center;
  background-color: #fff6f0;
}

.checked {
  color: #cb997e;
}

.title {
  color: #6b705c;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 28px;
}

.disp-cost {
  color: #CB997E;
  font-family: "Open Sans";
  font-size: 28px;
  line-height: 60%;
}

.disp-rate {
  color: #6b705c;
  font-family: "Open Sans";
  font-size: 12px;
}

.container {
  width: 200px;
  padding: 10px;
  text-align: center;
}

.goodonyou-info {
  text-align: left;
}

.slideshow {
  height: 150px;
}

.mySlides_secHand {
  width:100%; 
  margin: 0; 
  position: absolute; 
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mySlides_new {
  width:100%; 
  margin: 0; 
  position: absolute; 
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

li {
  text-align: left;
}

/*slideshow*/
