body {
  padding-top: 10px;
  text-align: center;
  background-color: #f0f0f0;
}

.checked {
  color: rgb(255, 185, 56);
}

.container {
  width: 200px;
  padding: 10px;
  text-align: center;
}

.goodonyou-info {
  text-align: left;
}

li {
  text-align: left;
}

/*slideshow*/
